@import "~bootstrap";
@import "~lightbox2/dist/css/lightbox.css";

body {
    padding-top: 56px;
    //background-color: lightgray;
}

form {
    label.required:after{
        content: '*';
        color: red;
    }
}
